/* index.blade.phpとprofile.blade.phpのカスタム装飾 */
.full-width-line {
    border-top: 3px solid black;
    /* 線の色を設定 */
    margin: 0;
    /* 上下の余白を消す */
    width: 100vw;
    /* 画面の幅全体をカバー */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* detail.blade.phpのカスタム装飾 */
.like-section,
.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    color: #6c757d;
    /* アイコンと数字の色を薄めに */
}

.btn-danger {
    background-color: #ff6b6b;
    border: none;
    font-weight: bold;
    padding: 0.75em 0;
}

.btn-danger:hover {
    background-color: #ff4a4a;
}

.comment-bubble {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    width: 90%;
    word-wrap: break-word;
}

.media-body {
    width: 90%;
}

/*  */